.App {
  text-align: center;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label{
  text-align: left;
  display: block;
}

.create wrapper{
  display: flex;
  justify-content: space-between;
}

.create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: inline;
}

.create input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button{
  background: #212121;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create p{
  text-align: center;
  color:#666;
}

.obs {
  max-width: 200px;
  text-align: left;
}
.obs label{
  font-size: 30px;
  text-align: left;
  display: block;
}